@mixin theme-p-strip {
  @include theme-p-strip--accent;
  @include theme-p-strip--image;
  @include theme-p-strip-is-bordered;
}

@mixin theme-p-strip--accent {

  .p-strip--accent {
    @include strip;
    background-color: $color-accent;
    color: determine-text-color($color-accent);
  }
}

@mixin theme-p-strip--image {

  .p-strip--image {
    @include strip;
    background-repeat: no-repeat;
    background-size: cover;

    &.is-light {
      color: $color-x-dark;
    }

    &.is-dark {
      color: $color-x-light;
    }
  }
}

@mixin theme-p-strip-is-bordered {
  [class^='p-strip'].is-bordered {
    border-bottom: 1px solid $color-mid-light;
  }
}
