@mixin theme-p-strip {
  @include theme-p-strip--accent;
  @include theme-p-strip--image;
  @include theme-p-strip--bordered;
  @include theme-p-strip--shallow;
  @include theme-p-strip--deep;
}

@mixin theme-p-strip--accent {
  .p-strip--accent {
    @include strip;
    background-color: $color-accent;
    color: determine-text-color($color-accent);
  }
}

@mixin theme-p-strip--image {
  .p-strip--image {
    @include strip;
    background-repeat: no-repeat;
    background-size: cover;

    &.is-light {
      color: $color-x-dark;
    }

    &.is-dark {
      color: $color-x-light;
    }
  }
}

@mixin theme-p-strip--bordered {
  [class^='p-strip'].is-bordered {
    border-bottom: 1px solid $color-mid-light;
  }
}

@mixin theme-p-strip--shallow {
  [class^='p-strip'].is-shallow {
    padding: $sp-large 0;

    @media only screen and (min-width: $breakpoint-medium) {
      padding: $sp-xx-large 0;
    }
  }
}

@mixin theme-p-strip--deep {
  [class^='p-strip'].is-deep {
    padding: $sp-xxx-large 0;

    @media only screen and (min-width: $breakpoint-medium) {
      padding: 6rem 0;
    }
  }
}
