// Import Vanilla framework
@import 'vanilla-framework/scss/build';

// Import theme settings
@import 'settings';

// Import Base files, if needed

// Import Pattern files, if needed

// Import Util files, if needed

@mixin vanilla-brochure-theme {

  //  Include Base mixins, if needed

  //  Include Pattern mixins, if needed

  // Include Util mixins, if needed
}
