// Import Vanilla framework
@import
'vanilla-framework/scss/build';

// Global Sass functions
@import
'global_functions';

// Import theme settings
@import
'settings';

// Import theme pattern files
@import
'patterns_lists',
'patterns_media-object',
'patterns_strip',
'patterns_heading-icon',
'patterns_divider';

// Import theme utility files
@import
'utilities_image-position';

@mixin vanilla-brochure-theme {

  //  Include theme pattern mixins
  @include theme-p-lists;
  @include theme-p-media-object;
  @include theme-p-strip;
  @include theme-p-divider;
  @include theme-p-heading-icon;

  //  Include theme utility mixins
  @include theme-u-image-position;
}
